#sidebar {
    position: fixed;
    left: 0;
    top: 0;
    width: 240px;
    height: 100%;
    overflow: auto; /* Allows vertical and horizontal scrolling */
    overflow-x: auto; /* Explicitly allow horizontal scrolling */
    background: linear-gradient(to bottom, #f9f9f9, #eaeaea);
    border-right: 1px solid #ddd;
    padding: 0px 0px;
    box-shadow: 2px 0 6px rgba(0, 0, 0, 0.15);
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    line-height: 1.6;
    z-index: 1000;
    white-space: nowrap;
    color: #333;
    transition: transform 0.3s ease;
}

#sidebar.collapsed {
    transform: translateX(-300px); /* 修正隐藏宽度与侧边栏一致 */
}

#show_sidebar_button {
    display: none; /* Hide the button by default */
}

#show_sidebar_button.show {
    display: block; /* Show the button when class 'show' is added */
    opacity: 0;

    position: fixed;
    top: 20px;
    left: 20px;
    width: 36px;
    height: 36px;
    font-size: 16px;
    font-weight: bold;
    background-color: #eeeeee;
    border: none;
    border-radius: 8px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    justify-content: center;
    align-items: center;
    transition: background 0.3s ease, transform 0.3s ease;
}

#show_sidebar_button:hover {
    opacity: 1;
}
