#sidebar {
    position: fixed;
    left: 0;
    top: 0;
    width: 220px; /* Slightly increase width for better spacing */
    height: 100%;
    overflow: auto; /* Allows vertical and horizontal scrolling */
    overflow-x: auto; /* Explicitly allow horizontal scrolling */
    background: linear-gradient(to bottom, #ffffff, #eeeeee); /* Gradient background */
    border-right: 1px solid #eeeeee;
    padding: 20px; /* Increase padding for better spacing */
    padding-right: 2px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    font-family: 'Arial', sans-serif; /* Change font */
    z-index: 1000; /* Ensure it's above other elements */
    white-space: nowrap; /* Prevent wrapping and enable horizontal scrolling */
}

.file-item-container {
    display: flex;
    align-items: center; /* Align icons and text */
    margin: 4px 0; /* Space between items */
    padding: 2px; /* Padding for each item */
    border-radius: 4px; /* Rounded corners for items */
    transition: background-color 0.3s; /* Smooth background transition */
}

.file-item-container:hover {
    background-color: #d7e1e7; /* Change background on hover */
}

.file-item-container a {
    text-decoration: none; /* Remove underline from links */
    color: inherit; /* Use inherited color */
}

.file-item-container a:hover {
    color: #007bff; /* Change color on hover */
}

.collapse-icon, .add-icon {
    margin-right: 8px; /* Space between icon and text */
    font-weight: bold; /* Emphasize icons */
    cursor: pointer; /* Pointer cursor for icons */
    transition: color 0.3s; /* Smooth color transition */
    color: #cccccc;
    user-select: none; /* Prevent text selection */
    font-size: 16px;
}

.collapse-icon:hover, .add-icon:hover {
    color: #007bff; /* Change color on hover */
}

.rotated { transform: rotate(-90deg); /* Rotate 90 degrees */ }

.file-item-text {
    flex-grow: 1; /* Allow text to grow and fill space */
    font-size: 16px; /* Increase font size for better readability */
    font-family: 'Times New Roman', Times, serif, sans-serif;
    font-style: italic;
    color: #333; /* Darker text for contrast */
}

